@{
    ViewData["Title"] = "Forside";
}

<div class="text-center">
    <h1>Velkommen til MySocialNetwork</h1>
    @if (Context.Session.GetString("User") != null)
    {
        <p>Du er logget ind som: @Context.Session.GetString("User")</p>
    }
    else
    {
        <p>Du er ikke logget ind. <a href="/Account/Login">Login her</a></p>
    }
    else
    {
    <p>Du er ikke logget ind. <a href="/Account/Login">Login her</a></p>
    }
</div>