@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>

<html>
<head>
    <title>Login</title>
</head>
<body>
<div>
    <h2>Login her!</h2>
    <form method="post">
        <input name="username" placeholder="Brugernavn" required />
        <input name="password" placeholder="Adgangskode" type="password" required /> 
        <button>Login</button>
    </form>
    @if (ViewBag.Error != null)
    {
        <p style="color:red">@ViewBag.Error</p>
    }
    
    
    
    <a href="/Account/Register">Igen Bruger? Registrer her!</a>
</div>
</body>
</html>